<!-- Dropdown para men煤 "Biblioteca" -->
<ul id="library-dropdown-menu" class="dropdown-content">
  <li>
    <a href="/book/add">
      <i class="large material-icons" style="margin: 2px;">
        book
      </i>
      Registro de Libros
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/book/loans">
      <i class="large material-icons" style="margin: 2px;">
        library_books
      </i>
      Pr茅stamos y Devoluciones
    </a>
  </li>
  <li>
    <a href="/library/reservations">
      <i class="large material-icons" style="margin: 2px;">
        event_note
      </i>
      Reservas
    </a>
  </li>
  <li>
    <a href="/library/reports">
      <i class="large material-icons" style="margin: 2px;">
        description
      </i>
      Generar Reportes
    </a>
  </li>
  <li>
    <a href="/library/fines">
      <i class="large material-icons" style="margin: 2px;">
        monetization_on
      </i>
      Multas por Retardo
    </a>
  </li>
</ul>

<!-- Dropdown para men煤 "Usuarios" -->
<ul id="user-dropdown-menu" class="dropdown-content">
  <li>
    <a href="/user/login">
      <i class="large material-icons" style="margin: 2px;">
        login
      </i>
      Ingresar
    </a>
  </li>
  <li class="divider"></li>
  <li>
    <a href="/user/register">
      <i class="large material-icons" style="margin: 2px;">
        person_add
      </i>
      Registrarse
    </a>
  </li>
  <li>
    <a href="/user/logout">
      <i class="large material-icons" style="margin: 2px;">
        logout
      </i>
      Cerrar Sesi贸n
    </a>
  </li>
  <!-- Agrega el siguiente elemento para la gesti贸n de usuarios -->
  <li>
    <a href="/user/manage">
      <i class="large material-icons" style="margin: 2px;">
        supervisor_account
      </i>
      Gesti贸n de Usuarios
    </a>
  </li>
</ul>

<!-- Inicia marcado de barra de navegaci贸n -->
<nav class="teal darken-4">
  <div class="container">
    <div class="nav-wrapper">
      <!-- Visualizaci贸n de navegaci贸n en pantalla completa -->
      <a href="/" class="brand-logo">
         Biblioteca
      </a>
      <ul id="nav" class="right hide-on-med-and-down">
        <li>
          <a href="/">
            <i class="large material-icons right">
              home
            </i>
            Inicio
          </a>
        </li>
        <li>
          <a href="/about">
            <i class="material-icons right">
              business
            </i>
            Acerca De.
          </a>
        </li>
        <!-- Dropdown Trigger -->
        <li>
          <a class="dropdown-trigger" href="#!" data-target="library-dropdown-menu">
            Biblioteca
            <i class="material-icons right">
              arrow_drop_down
            </i>
          </a>
        </li>
        <!-- User Dropdown -->
        <li>
          <a class="dropdown-trigger" href="#!" data-target="user-dropdown-menu">
            Usuario
            <i class="material-icons right">
              people
            </i>
          </a>
        </li>
      </ul>
      <!-- Visualizaci贸n de Navegaci贸n para m贸viles -->
      <a href="#" data-target="nav-mobile" class="sidenav-trigger">
        <i class="material-icons">
          menu
        </i>
      </a>
      <ul id="nav-mobile" class="sidenav">
        <li>
          <a href="/">
            <i class="large material-icons left">
              home
            </i>
            Inicio
          </a>
        </li>
        <li class="divider"></li>
        
      </ul>
    </div>
  </div>
</nav>
