<section class="section">
  <div class="container">
    <h1 class="center-align">Acerca de nuestra Biblioteca</h1>
    <p class="flow-text">
      Nuestra biblioteca es un recurso valioso que te brinda acceso a una 
      amplia colección de libros. Estamos comprometidos a proporcionar un 
      ambiente acogedor para los amantes de la lectura, donde puedes explorar, 
      aprender y sumergirte en historias fascinantes.
    </p>
    <p class="divider"></p>
    <p style="text-align: center;">Versión de la Aplicación: {{ appVersion }}</p>
  </div>
</section>
