<div class="row center teal lighten-4" 
  style="margin: 3em; padding: 2em; border-radius: 1em;">
  <h1 class="header center brown-text">Bienvenido a nuestra Biblioteca</h1>
  <i class="large material-icons teal-text">local_library</i>
  <div class="row center">
    <h5 class="header col s12 light grey-text text-darken-3">
      Explora y gestiona nuestra colección de libros. Registra nuevos libros,
      administra préstamos y descubre una rica fuente de conocimiento.
    </h5>
  </div>
  <div class="row center">
    <a href="/book/add" id="add-book-button"
      class="btn-large waves-effect waves-light brown">Registrar un Libro</a>
  </div>
</div>
